.App {
  background: url(./assets/wood.jpg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left top;
  min-height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

.App header {
  padding-top: 10vh;
}

.orange-title {
  background-color: rgb(86,39,59,0.7);
  color: white;
  padding: 5%;
  width: 50%;
  margin-right: auto;
}

.orange-title img, .orange-title h1 {
  display: inline-block;
  margin: auto;
}

.orange-title h1 {
  font-family: 'Anton', sans-serif;
  margin-right: 20px;
}

menu {
  margin-top: 10vh;
  background-color: rgb(222, 184, 135, 0.5);
  min-height: 26vh;
  padding: 0;
  padding-top: 3vh;
}

.menu-content {
  min-height: 20vh;
  width:100%;
  background-color: rgb(222, 184, 135);
  padding: 60px;
}

.menu-content a {
  color: green;
}

.menu-content a:hover {
  text-decoration: none;
}

/* ----- */

.row {
  margin:0;
}

.FindRecipe nav, .PersonalProfile nav{
  background-color: rgb(86,39,59,0.7);
  min-height: 13vh;
  padding-top: 3vh;
  padding-left: 20px;
  color: rgb(222, 184, 135);
}

.FindRecipe nav img, .FindRecipe nav .home-logo, .PersonalProfile nav img, .PersonalProfile nav .home-logo {
  display: inline-block;
}

.home-logo {
  margin-left: 30px;
}

.home-logo a {
  color: rgb(222, 184, 135);
}

.home-logo a:hover {
  text-decoration: none;
}

.FindRecipe nav h3, .PersonalProfile nav h3 {
  font-family: 'Anton', sans-serif;
}

.filter > div {
  margin-top: 5vh;
  border-right: rgb(222, 184, 135) 3px solid;
  width: 30%;
  padding: 30px;
  display: inline-block;
}

.filter > div:hover {
  background-color: rgb(222, 184, 135, 0.6);
}

.filter > div h4, .filter > div h5 {
  font-family: 'Anton', sans-serif;
}

.step-1 {
  min-height: 70vh;
  background-color: rgb(222, 184, 135, 0.5);
}

.step-2 {
  min-height: 70vh;
  background-color: rgb(222, 184, 135, 0.5);
}

.step-3 {
  min-height: 70vh;
  background-color: rgb(222, 184, 135, 0.5);
}

.ing-dropdown {
  background-color: rgb(86,39,59,0.7);
  border: 1px rgb(86,39,59) solid;
  width: 100%;
  text-align: left;
  border-radius: 0;
}

.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: rgb(86,39,59);
}

.show>.btn-secondary.dropdown-toggle {
  background-color: rgb(86,39,59);
  border-color: rgb(86,39,59);
}

.dropdown-menu.show {
  border-radius: 0;
  width: 100%;
  padding: 20px;
}

.ing-dropdown:hover, .ing-dropdown:focus, .ing-dropdown:after {
  background-color: rgb(86,39,59,0.8);
  border: 1px rgb(86,39,59) solid;
}

.choosen-ingredients {
  min-height: 40vh;
  background-color: rgb(222, 184, 135, 0.6);
  border: 1px solid rgb(222, 184, 135);
  padding: 20px;
}

