.App {
  background: url(./assets/wood.jpg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left top;
  min-height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

.App header {
  padding-top: 10vh;
}

.orange-title {
  background-color: rgb(86,39,59,0.7);
  color: white;
  padding: 5%;
  width: 90%;
  margin-right: auto;
  min-height: 45vh;
}

.orange-title img {
  margin-left: 20px;
}

.orange-title h1 {
  font-family: 'Anton', sans-serif;
  margin-right: 20px;
}

.orange-title p {
  color: rgb(222, 184, 135);
}

.Register form {
  min-height: 100vh;
  background-color: rgb(86,39,59,0.7);
  padding: 5% 10%;
  color: white;
}

.Register h2, .Register h3 {
  font-family: 'Anton', sans-serif;
}

.Register a {
  color: white;
  text-decoration: none;
}

.Login {
  background-color: rgb(86,39,59,0.7);
  min-height: 45vh;
  padding: 5%;
  color: white;
  border: 1px solid rgb(222, 184, 135);
  border-right: 0;
}

.Login .form-control, .Register .form-control {
  background-color: transparent;
  color: white;
  border-radius: 0;
  border: 0;
  border-bottom: white 1px solid;
}

.Login button, .Welcome button, .Register button, .green-btn {
  background-color: green;
  border: 0;
  border-radius: 0;
}

.Login button:hover, .Welcome button:hover, .Register button:hover, .green-btn:hover {
  background-color: rgb(0, 94, 0);
}

.Login small, .Register small {
  margin-left: 10px;
}

.Login a, .Register small a {
  color: green;
  text-decoration: underline;
}

.Welcome {
  background-color: rgb(86,39,59,0.7);
  min-height: 45vh;
  padding: 5%;
  color: white;
  border: 1px solid rgb(222, 184, 135);
  border-right: 0;
}

.Welcome h3 {
  font-family: 'Anton', sans-serif;
  color: rgb(222, 184, 135);
}

menu {
  margin-top: 7vh;
  background-color: rgb(222, 184, 135, 0.5);
  min-height: 27vh;
  padding: 0;
  padding-top: 3vh;
}

.menu-content {
  min-height: 20vh;
  width:100%;
  background-color: rgb(222, 184, 135);
  padding: 60px;
}

.menu-content a {
  color: green;
}

.menu-content a:hover {
  text-decoration: none;
}

/* ----- */

.row, .col-7, .col-6, .col-5, .col-4 {
  margin: 0;
  padding: 0;
}

.FindRecipe {
  padding-bottom: 10vh;
}

.FindRecipe nav, .PersonalProfile nav{
  background-color: rgb(86,39,59,0.7);
  min-height: 13vh;
  padding: 10px 15px;
  color: rgb(222, 184, 135);
}

.search-results {
  background-color: rgb(222, 184, 135, 0.3);
  margin-top: 10vh;
  min-height: 60vh;
  width: 100%;
  padding: 3%;
}

.home-logo {
  margin-left: 30px;
}

.home-logo a {
  color: rgb(222, 184, 135);
}

.home-logo a:hover {
  text-decoration: none;
}

.FindRecipe nav h3, .PersonalProfile nav h3 {
  font-family: 'Anton', sans-serif;
  margin-top: 3vh;
}

.filter > div {
  margin-top: 5vh;
  border-right: rgb(222, 184, 135) 3px solid;
  width: 30%;
  padding: 30px;
  display: inline-block;
}

.filter > div:hover {
  background-color: rgb(222, 184, 135, 0.4);
}

.filter > div h4, .filter > div h5 {
  font-family: 'Anton', sans-serif;
}

.step-1, .step-2, .step-3 {
  min-height: 70vh;
  background-color: rgb(222, 184, 135, 0.3);
}

.dropdown-menu {
  max-height: 250px;
  overflow: auto;
}

.ing-dropdown {
  background-color: rgb(86,39,59,0.7);
  border: 1px rgb(86,39,59) solid;
  width: 100%;
  text-align: left;
  border-radius: 0;
}

.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: rgb(86,39,59);
}

.show>.btn-secondary.dropdown-toggle {
  background-color: rgb(86,39,59);
  border-color: rgb(86,39,59);
}

.dropdown-menu.show {
  border-radius: 0;
  width: 100%;
  padding: 20px;
}

.ing-dropdown:hover, .ing-dropdown:focus, .ing-dropdown:after {
  background-color: rgb(86,39,59,0.6);
  border: 1px rgb(86,39,59) solid;
}

.choosen-ingredients {
  min-height: 40vh;
  background-color: rgba(222, 184, 135, 0.4);
  border: 1px solid rgb(222, 184, 135);
  padding: 20px;
}

/* ---------------- profile ----------------- */

.profile-info {
  background-color: rgb(222, 184, 135, 0.25);
  border-right: rgb(222, 184, 135) solid 1px;
  padding: 30px;
  margin-top: 4vh;
  color: rgb(222, 184, 135);
}

.profile-info h3 {
  font-family: 'Anton', sans-serif;
}

.profile-info table {
  font-size: 1.1rem;
}

.profile-info table td:nth-child(1) {
  text-align: right;
  padding-right: 8px;
  font-family: 'Anton', sans-serif;
}

.user-values {
  border-bottom: 0.5px solid rgb(222, 184, 135);
  padding: 2px 7px;
}

.fitness-info {
  background-color: rgb(222, 184, 135, 0.25);
  border-right: rgb(222, 184, 135) solid 1px;
  padding: 30px;
  margin-top: 4vh;
  color: rgb(222, 184, 135);
}

.fitness-info h3 {
  font-family: 'Anton', sans-serif;
}

.fitness-info table td {
  text-align: center;
  padding: 8px 12px;
}

.fitness-info table tr:nth-child(1) {
  border-bottom: rgb(1, 53, 1) 2px solid;
}

.fitness-info table td:nth-child(2), .fitness-info table td:nth-child(3) {
  border-left: 1px solid rgb(222, 184, 135);
  border-right: 1px solid rgb(222, 184, 135);
}

.calorie-tracking {
  background-color: rgb(222, 184, 135, 0.25);
  border-left: 1px solid rgb(222, 184, 135);
  color: rgb(222, 184, 135);
  padding: 30px;
  margin-top: 4vh;
}

.calorie-tracking h3 {
  font-family: 'Anton', sans-serif;
}

.calorie-tracking h5, .calorie-tracking h4 {
  font-family: 'Anton', sans-serif;
}

.calorie-tracking p {
  color: rgb(86,39,59);
}

.macros {
  background-color: rgb(0, 128, 0, 0.5);
  padding: 20px;
  margin: 10px 10px 0 0px;
  color: rgb(1, 53, 1);
  font-family: 'Anton', sans-serif;
}

.goal {
  padding: 7px 10px;
  margin: 4px 7px 4px 0px;
  border: rgb(222, 184, 135) 1px solid;
}

.active-goal {
  background-color: rgb(0, 128, 0, 0.4);
}

.progress {
  width: calc(100% - 10px);
  background-color: rgb(222, 184, 135, 0.4);
  border-radius: 0;
  height: 5px;
}

.progress-bar {
  background-color: rgb(1, 53, 1, 0.9);
}

.search-results h1 {
  font-family: 'Anton', sans-serif;
  color: rgb(1, 53, 1);
}

.search-results h2 {
  font-family: 'Anton', sans-serif;
  color: rgb(1, 53, 1);
}

.search-results h3 {
  font-family: 'Anton', sans-serif;
  color: rgb(222, 184, 135);
}

.search-results {
  border-top: 1px solid rgb(222, 184, 135);
  border-bottom: 1px solid rgb(222, 184, 135);
}

.Recipe {
  background-color: rgb(222, 184, 135, 0.3);
  padding: 15px;
  border-bottom: 2px solid rgb(1, 53, 1);
  margin-top:20px;
  margin-right: 15px;
}

.Recipe:hover {
  background-color: rgb(222, 184, 135, 0.4);
  cursor: pointer;
}

.Recipe h4 {
  font-family: 'Anton', sans-serif;
}

.SmallRecipe {
  background-color: rgb(222, 184, 135, 0.3);
  padding: 10px;
  border-bottom: 2px solid rgb(222, 184, 135);
  margin-top: 20px;
}

.SmallRecipe:hover {
  background-color: rgb(222, 184, 135, 0.4);
  cursor: pointer;
}

.SmallRecipe h4 {
  color: rgb(222, 184, 135);
}

.show-btn {
  display: inline-block;
  border: 1px solid rgb(222, 184, 135);
  color: rgb(222, 184, 135);
  padding: 5px;
  border-radius: 0;
  font-family: 'Varela Round', sans-serif;
  margin-left: 20px;
}

.template {
  padding: 50px;
  color: rgb(222, 184, 135);
}

.template input {
  width: 100px;
  background-color: rgb(222, 222, 222, 0.4);
  border: 0;
}

.template button {
  background-color: rgb(86,39,59);
  color: white;
  border-radius: 0;
}

.template h4, .template h3 {
  font-family: 'Anton', sans-serif;
}

.preview {
  padding: 40px;
  background-color: rgb(222, 222, 222, 0.4);
}

